@import url("colorScheme.css");

blockquote footer {
	padding: 0px 0;
	margin-top: 0px;
	border-top: unset;
	background: unset;
	color: var(--scheme_alt_text);
}

blockquote p {
	margin: 0 10;
	color: var(--scheme_alt_text);
}

