---
layout: portfolio 
title: Music 
subtitle:  
use-site-title: true
---

<link rel="stylesheet" href="/css/music.css">

{% assign sorted = (site.musicEvents | sort: 'date') | reverse %}
{% for event in sorted %}
	<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
		<h2> {{ event.title }}</h2>
	  	<div style="width: 80%; margin: 10px;">  
				<iframe style="border: 0; width: {{event.width}}; height: {{event.height}}" src="{{event.source}}" seamless><a href="{{event.outRef}}"></a></iframe>
				<i class="icon-ok-sign" rel="tooltip" title="Key active" id="blah"></i>
				<div> 
					{% if event.roles contains "record" %}
					<img src="../img/musicIcons/recordicon.png" style="width:7%;" data-toggle="tooltip" data-placement="bottom" title="I recorded this project">
					{% endif %}
					{% if event.roles contains "mix" %}
					<img src="../img/musicIcons/mixicon.png" style="width:7%;" data-toggle="tooltip" data-placement="bottom" title="I mixed this project">
					{% endif %}
					{% if event.roles contains "master" %}
					<img src="../img/musicIcons/mastericon.png" style="width:7%;" data-toggle="tooltip" data-placement="bottom" title="I mastered this project">
					{% endif %}
					{% if event.roles contains "drum" %}
					<img src="../img/musicIcons/drumicon.png" style="width:7%;" data-toggle="tooltip" data-placement="bottom" title="I played drums on this project">
					{% endif %}
					{% if event.roles contains "guitar" %}
					<img src="../img/musicIcons/guitaricon.png" style="width:7%;" data-toggle="tooltip" data-placement="bottom" title="I played guitar on this project">
					{% endif %}
				</div>
	  	</div>
	  	<p>{{event.text}}</p>
  </div>
{% endfor %}