<html lang="en" class="no-js">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href='http://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans:400,700' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="css/history.css"> <!-- Resource style -->
  <script src="js/modernizr.js"></script> <!-- Modernizr -->
    
</head>
<body>

  <div class="history-now">
    <h4> Now </h4>
  </div>

  <section id="cd-timeline" class="cd-container">
    {% assign sorted = (site.events | sort: 'date') | reverse %}
    {% for event in sorted %}
      <div class="cd-timeline-block">
        <div class="cd-timeline-img {{ event.class }}">
          <img src="{{ event.image }}">
        </div> <!-- cd-timeline-img -->
        <div class="cd-timeline-content">
          <h2>{{ event.title }}</h2>
          <p>{{ event.text }}</p>
	        {% if event.skills %}
		        <p> Relevant Skills : <strong> {{ event.skills }} </strong> </p>
	        {% endif %}
          {% if event.link and event.linktext %}
          <a href="{{ event.link }}" class="cd-read-more">{{ event.linktext }}</a>
          {% endif %}
          <span class="cd-date">{{ event.datestr }}</span>
        </div> <!-- cd-timeline-content -->
      </div> <!-- cd-timeline-block -->
    {% endfor %}
  </section>

  <div class="history-then">
    <h4> Then </h4>
  </div>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>
