<html lang="en" class="no-js">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href='http://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans:400,700' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="css/history.css"> <!-- Resource style -->
  <script src="js/modernizr.js"></script> <!-- Modernizr -->
    
</head>
<body>

  <section id="cd-timeline" class="cd-container">
    <div class="cd-timeline-block">
      <div class="cd-timeline-img adobe">
        <img src="img/adobe.svg" alt="Adobe">
      </div> <!-- cd-timeline-img -->

      <div class="cd-timeline-content">
        <h2>Adobe Systems, Incorporated</h2>
        <p>I'll be working at Adobe on the Photoshop for iOS team.</p>
<!--        <a href="#0" class="cd-read-more">Read more</a> -->
        <span class="cd-date">July 2017</span>
      </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
      <div class="cd-timeline-img brown">
        <img src="img/brown.svg" alt="Brown">
      </div> <!-- cd-timeline-img -->

      <div class="cd-timeline-content">
        <h2>Brown University</h2>
        <p>I'll be graduating from Brown University in May 2017 with a Bachelor of Science in Computer Science and a Bachelor of Arts in Computer Music and Multimedia.</p>
<!--        <a href="#0" class="cd-read-more">Read more</a> -->
        <span class="cd-date">May 2017</span>
      </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
      <div class="cd-timeline-img microsoft">
        <img src="img/microsoft.svg" alt="Microsoft">
      </div> <!-- cd-timeline-img -->

      <div class="cd-timeline-content">
        <h2>Microsoft, Inc.</h2>
        <p>In the summer of 2016, I interned for Microsoft in Redmond, Washington. I was responsible for including a third-party library to enable OLEDB support on for Excel on OSX</p>
<!--        <a href="#0" class="cd-read-more">Read more</a> -->
        <span class="cd-date">Summer 2016</span>
      </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
      <div class="cd-timeline-img spotter">
        <img src="img/spotter.svg" alt="Spotter">
      </div> <!-- cd-timeline-img -->

      <div class="cd-timeline-content">
        <h2>Spotter Parking, Inc</h2>
        <p>I co-founded and built the prototype for Spotter, an iOS application designed to let users rent out their unused driveways as metered parking. Since then, I've amicably parted ways with the other founders to pursue the next stage of my career at Adobe.</p>
        <a href="parkwithspotter.com/" class="cd-read-more">Check out the website!</a>
        <span class="cd-date">Jan - May 2016</span>
      </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
      <div class="cd-timeline-img catan">
        <img src="img/catan.svg" alt="Catan">
      </div> <!-- cd-timeline-img -->

      <div class="cd-timeline-content">
        <h2>Settlers of Catan Online</h2>
        <p>Along with three other students in Brown's Software Engineering course (csci0320), I created an online version of the popular board game, Settlers of Catan.</p>
        <a href="http://cs032catan.herokuapp.com" class="cd-read-more">Try it!</a>
        <span class="cd-date">Spring 2016</span>
      </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->
<!--
    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-movie">
        <img src="img/cd-icon-movie.svg" alt="Movie">
      </div> 

      <div class="cd-timeline-content">
        <h2>Final Section</h2>
        <p>This is the content of the last section</p>
        <span class="cd-date">Feb 26</span>
      </div> 
    </div> 
-->
  </section> <!-- cd-timeline -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>
